{% extends "student/welcome.html" %}

{% block title %}Add contract{% endblock %}

{% block page_title %}Add contract{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .table.table-hover {
            width: 100px;
        }
    </style>
    <script type="text/javascript">
        function SomeDeleteRowFunction(btndel) {
    if (typeof(btndel) == "object") {
        $(btndel).closest("tr");
        var this_row = document.getElementById("row1");
        var table = document.getElementById("table1")
        var row = table.insertRow();
        var cell1 = row.insertCell(0); var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2); var cell4 = row.insertCell(3);
        cell1.innerHTML = this_row.cells.item(0).innerHTML;
         cell2.innerHTML = this_row.cells.item(1).innerHTML;
         cell3.innerHTML = this_row.cells.item(2).innerHTML;
         cell4.innerHTML = this_row.cells.item(3).innerHTML;
        $(btndel).closest("tr").remove();
    } else {
        return false;
    }
}

    </script>
{% endblock %}


{% block content %}
  <h2>{{ data.first_name }} {{ data.last_name }}'s contract</h2>
    <div class="container-fluid">
        <ul class="nav navbar-left nav-pills" role="tablist">
            {% for semester in data.semesters %}
                {% if loop.first %}
                    <li role="presentation" class="active">
                        <a href="#tab_nr{{ semester.semester }}" aria-controls="tab_nr{{ semester.semester }}" role="tab" data-toggle="tab">Semester {{ semester.semester }}</a>
                    </li>
                {% else %}
                    <li role="presentation">
                        <a href="#tab_nr{{ semester.semester }}" aria-controls="tab_nr{{ semester.semester }}" role="tab" data-toggle="tab">Semester {{ semester.semester }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        <div class="tab-content">
        {% for semester in data.semesters %}
            {% if loop.first %}
                <div role="tabpanel" class="tab-pane fade in active" id="tab_nr{{ semester.semester  }}">
                    <table class="table table-condensed" id="table{{ semester.semester }}">
                    <tr>
                                <th>Course code</th>
                                <th>Course name</th>
                                <th>Language</th>
                                <th>Credits</th>
                            </tr>
                        {% for course in data.courses[semester.semester] %}
{#                            {% if loop.first %}#}

                            <tr>
                                <td>{{ course.code }}</td>
                                <td>{{ course.course_name }}</td>
                                <td>{{ course.course_language }}</td>
                                <td>{{ course.credits }}</td>
                            </tr>
{#                            {% else %}#}
{#                            <tr>#}
{#                                <td>{{ course.code }}</td>#}
{#                                <td>{{ course.course_name }}</td>#}
{#                                <td>{{ course.course_language }}</td>#}
{#                                <td>{{ course.credits }}</td>#}
{#                            </tr>#}
{#                            {% endif %}#}
                        {% endfor %}
                    </table>
                {% for package_id, package in data.packages.items() %}
                    <table class="table table-hover">
                    {% for course in package %}
                        {% if loop.first %}
                            <th colspan="4">{{ course.package_name }}</th>
                        {% endif %}
                        {% if course.semester_nr == semester.semester %}
                            <tr id="row{{ loop.index }}">
                                <td>{{ course.code }}</td>
                                <td>{{ course.course_name }}</td>
                                <td>{{ course.course_language }}</td>
                                <td>{{ course.credits }}</td>
                                <td><input type="button" value="Add" onclick="SomeDeleteRowFunction(this);"></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                {% endfor %}
                </div>
            {% else %}
                <div role="tabpanel" class="tab-pane fade" id="tab_nr{{ semester.semester  }}">
                    <table class="table table-condensed" id="table{{ semester.semester }}">
                        {% for course in data.courses[semester.semester] %}
                            {% if loop.first %}
                            <tr>
                                <th>Course code</th>
                                <th>Course name</th>
                                <th>Language</th>
                                <th>Credits</th>
                            </tr>
                            <tr>
                                <td>{{ course.code }}</td>
                                <td>{{ course.course_name }}</td>
                                <td>{{ course.course_language }}</td>
                                <td>{{ course.credits }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td>{{ course.code }}</td>
                                <td>{{ course.course_name }}</td>
                                <td>{{ course.course_language }}</td>
                                <td>{{ course.credits }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                <div width="100px">
                {% for package_id, package in data.packages.items() %}
                {% for course in package %}
                {% if course.semester_nr == semester.semester %}
                <table class="table table-hover" width="100px" id="table_opt">
                            <tr width="100px" id="row{{ loop.index }}">
                                <td>{{ course.code }}</td>
                                <td>{{ course.course_name }}</td>
                                <td>{{ course.course_language }}</td>
                                <td>{{ course.credits }}</td>
                                <td><input type="button" value="Add" onclick="SomeDeleteRowFunction(this);"></td>
                            </tr>
                </table>
                {% endif %}
                {% endfor %}
                {% endfor %}
                </div>
                </div>
            {% endif %}
        {% endfor %}
        <button class="btn btn-succes btn-lg">
                        <a href="{{ url_for('student.home', data=data) }}"> Complete</a>
                            </button>
        </div>
    </div>
{% endblock %}

{% block username %}{{ super() }}{% endblock %}

{% block navigation %}
    {{ super() }}
{% endblock %}