{% extends "student/welcome.html" %}

{% block title %}Student grades{% endblock %}

{% block page_title %}Student grades{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block content %}
  <h2>{{ data.first_name }} {{ data.last_name }}'s grades</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Semester</th>
        <th>Code</th>
        <th>Course</th>
        <th>Passed</th>
        <th>Evaluation date</th>
        <th>Final grade</th>
      </tr>
    </thead>
    <tbody>
    {% for course in data.courses %}
        <tr>
            <td>{{ course.semester }}</td>
            <td>{{ course.code }}</td>
            <td>{{ course.course }}</td>
            {% if course.passed %}
                <td>
                    <p class="text-success">Passed</p>
                </td>
            {% endif %}
            {% if not(course.passed) %}
                <td>
                    <p class="text-danger">Failed</p>
                </td>
            {% endif %}
            <td>{% if course.final_grade["date"] is not none %}  {{ course.final_grade["date"] }}
                    {% else %}      {% endif %}</td>
            <td>{% if course.final_grade["grade"] is number %}  {{ course.final_grade["grade"] }}
                    {% else %} 0 {% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block username %}{{ super() }}{% endblock %}

{% block navigation %}
    {{ super() }}
{% endblock %}