{% extends "student/welcome.html" %}

{% block title %}Study contracts{% endblock %}

{% block page_title %}Study contracts{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
    <h2>Study contracts</h2>
    <div class="panel-default">
        <div class="panel-heading">
            <div class="row">
        <h4>
            <p class="text-center">{{ data.faculty }}   {{ data.specialty }}-{{ data.study_line }}   {{ data.study_level }}</p>
        </h4>
    </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <p class="text-center">
                Name: <label class="text-info"> {{ data.first_name }} {{ data.last_name }} </label>
                Serial number: <label class="text-info"> {{ data.serial_number }} </label>
                Group: <label class="text-info"> {{ data.group }} </label>
                Study year: <label class="text-info"> {{ data.year }} </label>
                Current semester: <label class="text-info"> {{ data.semester }} </label>
                </p>
            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
                {% for k, v in (data.contracts|dictsort(true)) %}
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <table id="table_{{ k }}" class="table">
                                <tr>
                                    <th>
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ k }}">
                                            <span class="glyphicon glyphicon-folder-close"></span>
                                            <label class="semester">{{ "Semester " ~ k ~ " "}} </label>
                                        </a>
                                    </th>
                                </tr>
                            </table>
                        </h4>
                    </div>
                    <div id="collapse_{{ k }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            {% if v[0] != none %}
                            <table class="table">
                                <tr>
                                    <th>Course</th>
                                    <th>Code</th>
                                    <th>Credits</th>
                                    <th>Passed</th>
                                </tr>
                                {% for course in v %}
                                    <tr>
                                        <td>{{ course.course }}</td>
                                        <td>{{ course.code }}</td>
                                        <td>{{ course.credits }}</td>
                                        <td>{{ course.pass }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                            {% endif %}
                            {% if v[0] == none %}
                                <p class="text-center">Please add a study contract!</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}

{% block username %}{{ super() }}{% endblock %}

{% block navigation %}
    {{ super() }}
{% endblock %}