{% extends "common/base.html" %}

{% block title %}Student frontpage{% endblock %}

{% block page_title %}Student frontpage{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
    Content goes here! HTML, CSS, you name it. This will scroll.
{% endblock %}

{% block username %}{{data.username}}{% endblock %}

{% block navigation %}
    {{ super() }}
    <li>
        <a href="javascript:" data-toggle="collapse" data-target="#demo"> Grades</a>
	    <ul id="demo" class="collapse">
            <li>
    			<a href="grades")>Temporary</a>
            </li>
            <li>
    			<a href="#">Final</a>
            </li>
    	</ul>
    </li>
{% endblock %}