{% extends "common/base.html" %}

{% block title %}Student frontpage{% endblock %}

{% block page_title %}Student frontpage{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
    <!-- jQuery (used for menu) -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap core js (useful to have) -->
    <script src="../static/js/bootstrap.min.js"></script>
{% endblock %}

{% block username %}{{data.username}}{% endblock %}

{% block role %}{{ super() }}{% endblock %}