{% extends "common/base.html" %}

{% block title %}Student frontpage{% endblock %}

{% block page_title %}Student frontpage{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
{% endblock %}

{% block username %}{{data.username}}{% endblock %}

{% block navigation %}
    {{ super() }}
    <li>
        <a href="javascript:" data-toggle="collapse" data-target="#demo"> Grades</a>
	    <ul id="demo" class="collapse">
            <li>
    			<a href="{{ url_for('student.grades_temporary')}}")>Temporary</a>
            </li>
            <li>
    			<a href="{{ url_for('student.grades_final')}}")>Final</a>
            </li>
    	</ul>
    </li>
{% endblock %}