<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in successful</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Welcome, {{ user_info.username }}</h1>
        <p>
            Email used for log in: {{ user_info.email }} <br>
            Registered role: {{ user_info.role }} <br>
            Current status: {{ user_info.status }}
        </p>


    </div>
</body>
</html>