{% extends "admin/welcome.html" %}

{% block title %}Admin page{% endblock %}

{% block page_title %}{{ data.username }}'s front page{% endblock %}

{% block head %}
    {{ super() }}
     <style>
        a:link {
            text-decoration: none;
            color: black;
        }
        .pagination-centered {
            padding-top: 1%;
        }
    </style>
    <script type="text/javascript">
        $(".form_datetime").datetimepicker({
            format: "dd MM yyyy - hh:ii",
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom-left"
        });
    </script>

{% endblock %}


{% block content %}
    {{ super() }}
    <a class="btn btn-default" role="button">Save</a>
    <div class="panel panel-default">
        <div class="panel-title">
            <div class="row">
                <div class="col-md-1 pagination-centered pull-left"><label>SECTION</label></div>
                <div class="col-md-1 pagination-centered pull-right"><label>TO</label></div>
                <div class="col-md-1 pagination-centered pull-right"><label>FROM</label></div>
            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion">
        {% for item in data.dates %}
            <div class="panel panel-default">
                <div class="panel-body">
                        <div class="row">
                            <div class="col-md-1 pagination-centered pull-left">
                                <label>
                                    {% if item.type == 1 %}
                                        Contract
                                    {% endif %}
                                    {% if item.type == 2 %}
                                        Optional course proposing
                                    {% endif %}
                                    {% if item.type == 3 %}
                                        Optional course accepting
                                    {% endif %}
                                    {% if item.type == 4 %}
                                        Voting
                                    {% endif %}
                                </label>
                            </div>
                            <input size="16" type="text" value={{ item.from_date }} readonly class="form_datetime">
                            <input size="16" type="text" value={{ item.to }} readonly class="form_datetime">
                        </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block username %}{{ super() }}{% endblock %}

{% block navigation %}
    {{ super() }}
{% endblock %}