{% extends "admin/welcome.html" %}

{% block title %}Admin page{% endblock %}

{% block page_title %}{{ data.username }}'s front page{% endblock %}

{% block head %}
    {{ super() }}
     <style>
        a:link {
            text-decoration: none;
            color: black;
        }
        .pagination-centered {
            padding-top: 1%;
        }
    </style>
    <script>
        function save_changes() {
            var section_dates = [];
            $("row").each(function() {
                section_dates.push({
                            type: $(this).find("label.section").attr('id'),
                            from: $(this).find("input.from").val(),
                            to: $(this).find("input.to").val()
                        }
                );
            });
            var json = JSON.stringify(section_dates, null, '\t');
            console.log(json);
            $.ajax({
                type: "POST",
                url: "{{ url_for('admin_staff.save') }}",
                data: json,
                contentType: 'application/json;charset=UTF-8',
                success: function (response) {
                    window.location = response;
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
    <script type="text/javascript">
        $(".form_datetime").datetimepicker({
            format: "dd MM yyyy - hh:ii",
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom-left"
        });
    </script>

{% endblock %}


{% block content %}
    <a class="btn btn-default" role="button" onclick="save_changes()">Save</a>
    <div class="panel panel-default">
        <div class="panel-title">
            <div class="row">
                <div class="col-md-1 pagination-centered pull-left"><label>SECTION</label></div>
                <div class="col-md-1 pagination-centered pull-right"><label>TO</label></div>
                <div class="col-md-1 pagination-centered pull-right"><label>FROM</label></div>
            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion">
        {% for item in data.dates %}
            <div class="panel panel-default">
                <div class="panel-body">
                        <div class="row" id="row">
                            <div class="col-md-1 pagination-centered pull-left" id="section">
                                <label class="section" id={{ item.type }}>
                                    {% if item.type == 1 %}
                                        Contract
                                    {% endif %}
                                    {% if item.type == 2 %}
                                        Optional course proposing
                                    {% endif %}
                                    {% if item.type == 3 %}
                                        Optional course accepting
                                    {% endif %}
                                    {% if item.type == 4 %}
                                        Voting
                                    {% endif %}
                                </label>
                            </div>
                            <input class="from" size="16" type="text" value={{ item.from_date }}>
                            <input class="to" size="16" type="text" value={{ item.to }}>
                        </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block username %}{{ super() }}{% endblock %}

{% block navigation %}
    {{ super() }}
{% endblock %}