{% extends "common/base.html" %}

{% block title %}Professor frontpage{% endblock %}

{% block page_title %}Professor frontpage{% endblock %}

{% block settings %} <a href="{{ url_for('professor_cod.settings') }}">Settings</a> {% endblock %}

{% block head %}
    {{ super() }}
    <script>
        function save_changes(course_id) {
            var students = [];
            var substr = /^student_/;
            $("table tbody > tr ").each(function() {
                students.push({
                            course_id: course_id,
                            student_id: $(this).attr('id').replace(substr, ''),
                            grade_1: {"value": $(this).find("label input.grade_1").val(),
                                        "id":  $(this).find("label input.grade_1").attr('id')},
                            grade_2: {"value": $(this).find("label input.grade_2").val(),
                                        "id":  $(this).find("label input.grade_2").attr('id')},
                            grade_3:  {"value": $(this).find("label input.grade_1").val(),
                                        "id":  $(this).find("label input.grade_1").attr('id')}
                        }
                );

            });
            var json = JSON.stringify(students, null, '\t');
            console.log(json);
            $.ajax({
                type: "POST",
                url: "{{ url_for('professor.save') }}",
                data: json,
                contentType: 'application/json;charset=UTF-8',
                success: function (response) {
                    window.location = response;
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
{% endblock %}


{% block content %}
    {{ super() }}

    <div class="container">
        <h2>{{ data.selected_course.course_name }} grading</h2> <a class="btn btn-default" role="button" onclick="save_changes({{ data.selected_course.id }})">Save</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Grade 1</th>
                <th>Grade 2</th>
                <th>Grade 3</th>
                <th>Final grade</th>
            </tr>
            </thead>
            <tbody>
            {% for student_dict in data.students %}
                <tr id="student_{{ student_dict.student.id }}">
                    <td>{{ student_dict.student.first_name }}</td>
                    <td>{{ student_dict.student.last_name }}</td>
                    {% for grade in student_dict.grades|sort(attribute='date') %}
                    <td>
                        <label>
                            <input id="{{ grade.id }}" class="grade_{{ loop.index }}" type="text" name="grade {{ loop.index }}" value={{ grade.grade if grade.grade else " " }}>
                        </label>
                    </td>
                    {% endfor %}
                    <td>{{ student_dict.final_grade if student_dict.final_grade else 0}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block username %}{{data.username}}{% endblock %}

{% block navigation %}
    {{ super() }}
    <li>{% if data.ranks[data.rank_prof] >= 1 %}
        <a href="javascript:" data-toggle="collapse" data-target="#demo">Proposals</a>
	    <ul id="demo" class="collapse">
            <li>
    			<a href="{{ url_for('professor.add_proposal') }}">New proposal</a>
            </li>
            <li>
    			<a href="{{ url_for('professor.view_proposals') }}">View proposals</a>
            </li>
    	</ul>

        {% else %}
            <ul id="demo" class="collapse">
            <li class="disabled">
    			<a href="{{ url_for('professor.add_proposal') }}">New proposal</a>
            </li>
            <li class="disabled">
    			<a href="{{ url_for('professor.view_proposals') }}">View proposals</a>
            </li>
    	</ul>
        {% endif %}

    </li>
    <li>
        <a href="#collapse1" data-toggle="collapse"> Grading</a>
	    <ul id="collapse1" class="panel-collapse collapse">
            {% for course in data.courses %}
                <li><a href="/prof/grading/{{course.id}}">{{ course.course_name }}</a></li>
            {% endfor %}
	    </ul>
    </li>
{% endblock %}
