{% extends "common/base.html" %}

{% block title %}Professor frontpage{% endblock %}

{% block page_title %}Professor frontpage{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
    {{ data.content }}

{% endblock %}

{% block username %}{{data.username}}{% endblock %}

{% block navigation %}
    {{ super() }}
    <li>
        <a href="javascript:" data-toggle="collapse" data-target="#demo"> Grading</a>
	    <ul id="demo" class="collapse">
            {% for course in data.courses %}
                <li><a href="/prof/grading/{{course}}">{{ course }}</a></li>
            {% endfor %}
	    </ul>
    </li>
{% endblock %}