{% extends "common/base.html" %}

{% block title %}Proposals{% endblock %}

{% block page_title %}Proposals{% endblock %}

{% block settings %} <a href="{{ url_for("professor.settings") }}">Settings</a> {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
    <br xmlns="http://www.w3.org/1999/html">
    <h3>Submitted proposals</h3><hr>
    <div class="container-fluid">
        <ul class="nav navbar-right nav-pills" role="tablist">
            {% for proposal in data.proposals %}
                {% if loop.first %}
                    <li role="presentation" class="active">
                        <a href="#tab_nr{{ loop.index }}" aria-controls="tab_nr{{ loop.index }}" role="tab" data-toggle="tab">First</a>
                    </li>
                {% else %}
                    <li role="presentation">
                        <a href="#tab_nr{{ loop.index }}" aria-controls="tab_nr{{ loop.index }}" role="tab" data-toggle="tab">Second</a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        <div class="tab-content">
        {% for proposal in data.proposals %}
            {% if loop.first %}
                <div role="tabpanel" class="tab-pane fade in active" id="tab_nr{{ loop.index }}">
                    <p>Course name: {{ proposal.course_name }}</p>
                    <p>Speciality:  {{ proposal.speciality }}</p>
                    <p>Study line:  {{ proposal.study_line }}</p>
                    <p>Description: {{ proposal.description }}</p>
                    <br><br>
                    <p class="text-left">
                        <button class="btn btn-default btn-lg">
                            <a href="{{ url_for('professor.update_proposal', proposal_id=proposal.id) }}"> Modify</a>
                        </button>
                        <button class="btn btn-default btn-lg">
                            <a href="{{ url_for('professor.delete_proposal', proposal_id=proposal.id) }}"> Delete</a>
                        </button>
                    </p>
                </div>
            {% else %}
                <div role="tabpanel" class="tab-pane fade" id="tab_nr{{ loop.index }}">
                    <p>Course name: {{ proposal.course_name }}</p>
                    <p>Speciality:  {{ proposal.speciality }}</p>
                    <p>Study line:  {{ proposal.study_line }}</p>
                    <p>Description: {{ proposal.description }}</p>
                    <br><br>
                    <p class="text-left">
                        <button class="btn btn-default btn-lg">
                            <a href="{{ url_for('professor.update_proposal', proposal_id=proposal.id) }}"> Modify</a>
                        </button>
                        <button class="btn btn-default btn-lg">
                        <a href="{{ url_for('professor.delete_proposal', proposal_id=proposal.id) }}"> Delete</a>
                            </button>
                    </p>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block username %}{{data.username}}{% endblock %}

{% block navigation %}
    {{ super() }}
    <li>
        <a href="javascript:" data-toggle="collapse" data-target="#demo">Proposals</a>
	    <ul id="demo" class="collapse">
            <li>
    			<a href="{{ url_for('professor.add_proposal') }}">New proposal</a>
            </li>
            <li>
    			<a href="{{ url_for('professor.view_proposals') }}">View proposals</a>
            </li>
    	</ul>
    </li>
    <li>
        <a href="#collapse1" data-toggle="collapse"> Grading</a>
	    <ul id="collapse1" class="panel-collapse collapse">
            {% for course in data.courses %}
                <li><a href="/prof/grading/{{ course.id }}">{{ course.course_name }} - {{ course.course_language }}</a></li>
            {% endfor %}
	    </ul>
    </li>
{% endblock %}