<!doctype html>
<html>
<head>
    <title>Error 404</title>
    <meta charset='UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

    <style type="text/css">
        body {
            padding-top: 150px;
            padding-bottom: 150px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <div class="container">

        <div class="alert alert-danger">
            
            <strong>Error : </strong>404 : Page Not Found 
            
        </div>
        
    </div>
</body>
</html>
